USE [master]
GO
/****** Object:  Database [GostenovaMiracleShow]    Script Date: 25.09.2026 14:09:09 ******/
CREATE DATABASE [GostenovaMiracleShow]
ALTER DATABASE [GostenovaMiracleShow] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GostenovaMiracleShow].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GostenovaMiracleShow]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Category_1] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[ClientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](255) NOT NULL,
	[LastName] [varchar](255) NOT NULL,
	[Patrynomic] [varchar](255) NULL,
	[Login] [varchar](255) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommodityPosition]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommodityPosition](
	[CommodityPositionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Size] [float] NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[SizeID] [int] NOT NULL,
 CONSTRAINT [PK_CommodityPosition] PRIMARY KEY CLUSTERED 
(
	[CommodityPositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacture]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacture](
	[ManufactureID] [int] IDENTITY(1,1) NOT NULL,
	[Manufacture] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Manufacture] PRIMARY KEY CLUSTERED 
(
	[ManufactureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[ClientID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[PriceAtOrderTime] [decimal](18, 2) NOT NULL,
	[CommodityPositionID] [int] NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Images] [varchar](255) NULL,
	[ProductName] [varchar](255) NOT NULL,
	[Discription] [varchar](255) NULL,
	[Compound] [varchar](255) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ManufactureID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SubCategoryID] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[SizeID] [int] IDENTITY(1,1) NOT NULL,
	[SizeValue] [decimal](4, 1) NOT NULL,
	[SizeLabel] [varchar](20) NULL,
 CONSTRAINT [PK_Sizes] PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[SubCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[SubCategoryName] [varchar](250) NOT NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[SubCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 25.09.2026 14:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](255) NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (1, N'Детская обувь')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (2, N'Женская обувь')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (3, N'Мужская обувь')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([ClientID], [FirstName], [LastName], [Patrynomic], [Login], [RoleID]) VALUES (1, N'Иванов', N'Иван', N'Сергеевич', N'isivanov', 1)
INSERT [dbo].[Client] ([ClientID], [FirstName], [LastName], [Patrynomic], [Login], [RoleID]) VALUES (2, N'Петров', N'Пётр', N'Алексеевич', N'papetrov', 2)
INSERT [dbo].[Client] ([ClientID], [FirstName], [LastName], [Patrynomic], [Login], [RoleID]) VALUES (3, N'Сидорова', N'Анна', N'Дмитриевна', N'asidorova', 3)
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[CommodityPosition] ON 

INSERT [dbo].[CommodityPosition] ([CommodityPositionID], [ProductID], [Size], [QuantityInStock], [SizeID]) VALUES (1, 1, 20, 20, 3)
INSERT [dbo].[CommodityPosition] ([CommodityPositionID], [ProductID], [Size], [QuantityInStock], [SizeID]) VALUES (2, 1, 21, 20, 4)
INSERT [dbo].[CommodityPosition] ([CommodityPositionID], [ProductID], [Size], [QuantityInStock], [SizeID]) VALUES (3, 1, 22, 20, 5)
SET IDENTITY_INSERT [dbo].[CommodityPosition] OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacture] ON 

INSERT [dbo].[Manufacture] ([ManufactureID], [Manufacture]) VALUES (1, N'Малыш-Спорт')
INSERT [dbo].[Manufacture] ([ManufactureID], [Manufacture]) VALUES (2, N'Топ-Топ')
INSERT [dbo].[Manufacture] ([ManufactureID], [Manufacture]) VALUES (3, N'Лапушка')
SET IDENTITY_INSERT [dbo].[Manufacture] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [ClientID], [OrderDate]) VALUES (1, 3, CAST(N'2026-04-02' AS Date))
INSERT [dbo].[Order] ([OrderID], [ClientID], [OrderDate]) VALUES (2, 17, CAST(N'2026-04-05' AS Date))
INSERT [dbo].[Order] ([OrderID], [ClientID], [OrderDate]) VALUES (3, 7, CAST(N'2026-04-08' AS Date))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [Quantity], [PriceAtOrderTime], [CommodityPositionID]) VALUES (1, 1, 1, CAST(2190.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [Quantity], [PriceAtOrderTime], [CommodityPositionID]) VALUES (2, 1, 1, CAST(2790.00 AS Decimal(18, 2)), 7)
INSERT [dbo].[OrderItem] ([OrderItemID], [OrderID], [Quantity], [PriceAtOrderTime], [CommodityPositionID]) VALUES (3, 2, 1, CAST(25000.00 AS Decimal(18, 2)), 10)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductID], [Images], [ProductName], [Discription], [Compound], [Price], [ManufactureID], [CategoryID], [SubCategoryID]) VALUES (1, N'IMG_KS_195217.png', N'Кроссовки детские «Звёздочка» экокожа', N'Кроссовки детские «Звёздочка» экокожа. Производитель: ООО «Малыш-Спорт», г. Смоленск', N'Верх — экокожа (полиуретан на хлопковой основе), подкладка — хлопок 100%, подошва — ПВХ', CAST(2190.00 AS Decimal(18, 2)), 1, 1, 1)
INSERT [dbo].[Product] ([ProductID], [Images], [ProductName], [Discription], [Compound], [Price], [ManufactureID], [CategoryID], [SubCategoryID]) VALUES (2, N'IMG_KS_195213.png', N'Кроссовки детские «Гонщик» экокожа', N'Кроссовки детские «Гонщик» экокожа. Производитель: Фабрика «Топ-Топ», г. Киров', N'Верх — экокожа (микрофибра), подкладка — текстиль сетчатый (полиэстер), подошва — термопластичная резина (ТЭП)', CAST(2490.00 AS Decimal(18, 2)), 2, 1, 1)
INSERT [dbo].[Product] ([ProductID], [Images], [ProductName], [Discription], [Compound], [Price], [ManufactureID], [CategoryID], [SubCategoryID]) VALUES (3, N'IMG_KS_195222.png', N'Кроссовки детские «Радуга» экокожа перфорированная', N'Кроссовки детские «Радуга» экокожа перфорированная. Производитель: ИП Смирнова Л.В. (бренд «Лапушка»), г. Вологда', N'Верх — экокожа перфорированная, вставки — нейлон, стелька — ортопедическая с латексной подушкой, подошва — ЭВА', CAST(1990.00 AS Decimal(18, 2)), 3, 1, 1)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([SizeID], [SizeValue], [SizeLabel]) VALUES (1, CAST(18.0 AS Decimal(4, 1)), NULL)
INSERT [dbo].[Sizes] ([SizeID], [SizeValue], [SizeLabel]) VALUES (2, CAST(19.0 AS Decimal(4, 1)), NULL)
INSERT [dbo].[Sizes] ([SizeID], [SizeValue], [SizeLabel]) VALUES (3, CAST(20.0 AS Decimal(4, 1)), NULL)
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[SubCategory] ON 

INSERT [dbo].[SubCategory] ([SubCategoryID], [SubCategoryName]) VALUES (1, N'Кроссовки')
INSERT [dbo].[SubCategory] ([SubCategoryID], [SubCategoryName]) VALUES (2, N'Сапоги')
INSERT [dbo].[SubCategory] ([SubCategoryID], [SubCategoryName]) VALUES (3, N'Босоножки')
SET IDENTITY_INSERT [dbo].[SubCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([UserID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[UserRole] ([UserID], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[UserRole] ([UserID], [RoleName]) VALUES (3, N'Авторизованный пользователь')
SET IDENTITY_INSERT [dbo].[UserRole] OFF
GO
/****** Object:  Index [UQ__Sizes__14F4C8E6FCC94AE1]    Script Date: 25.09.2026 14:09:10 ******/
ALTER TABLE [dbo].[Sizes] ADD UNIQUE NONCLUSTERED 
(
	[SizeValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_UserRole] FOREIGN KEY([RoleID])
REFERENCES [dbo].[UserRole] ([UserID])
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_UserRole]
GO
ALTER TABLE [dbo].[CommodityPosition]  WITH CHECK ADD  CONSTRAINT [FK_CommodityPosition_Product] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[CommodityPosition] CHECK CONSTRAINT [FK_CommodityPosition_Product]
GO
ALTER TABLE [dbo].[CommodityPosition]  WITH CHECK ADD  CONSTRAINT [FK_CommodityPosition_Sizes] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Sizes] ([SizeID])
GO
ALTER TABLE [dbo].[CommodityPosition] CHECK CONSTRAINT [FK_CommodityPosition_Sizes]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([ClientID])
REFERENCES [dbo].[Client] ([ClientID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_CommodityPosition] FOREIGN KEY([CommodityPositionID])
REFERENCES [dbo].[CommodityPosition] ([CommodityPositionID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_CommodityPosition]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category1] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category1]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacture] FOREIGN KEY([ManufactureID])
REFERENCES [dbo].[Manufacture] ([ManufactureID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacture]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_SubCategory] FOREIGN KEY([SubCategoryID])
REFERENCES [dbo].[SubCategory] ([SubCategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_SubCategory]
GO
USE [master]
GO
